body { margin: 0; background-color: #333; font-family: "Ubuntu", "Fira Sans", sans-serif; }

section
{
	background-image: url(background.png);
	background-position: left top;
	background-repeat: no-repeat;
	width: 900px;
	height: 600px;
	background-size: 100%;
	margin: 30px auto;
	position: relative;
}

h1, fieldset
{
	font-weight: 300;
	margin: 20px;
	padding: 20px;
	font-family: "Ubuntu", "Fira Sans", sans-serif;
	width: 232px;
	margin: 0 auto;
	color: #fff;
}

.dropdown
{
	width: 236px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
/*
	border-radius: 0 0 3.5px 3.5px;
 */
	border: 1px solid #d0d0d0;
	position: absolute;
	z-index: 10;
}

fieldset { position: absolute; top: 380px; left: 160px; }
label { color: #fff; display: block; margin-top: 1em; }
input { width: 232px; margin-top: 1em; }

.warning
{
	color: #7f7f7f;
	background-color: #eee;
	font-size: 11px;
	padding: 7px 7px 7px 28px;
	line-height: 13px;
	background-image: url(lock.gif);
	background-repeat: no-repeat;
	background-position: 7px 7px;
	background-size: 14px;
	font-weight: 400;
	border-bottom: 1px solid #d0d0d0;
	display: block;
	text-decoration: none;
}

.warning b { font-weight: 500; }

.warning:hover, .logins:hover
{
	color: #000;
	background-color: #e3e3e3;
	cursor: pointer;
	border-color: #bebebe;
}

.username
{
	color: #000;
	background-color: #fff;
	font-size: 10px;
	font-weight: 400;
	padding: 7px 7px 7px 28px;
	white-space: nowrap;
	background-image: url(icon_key.png);
	background-repeat: no-repeat;
	background-position: 7px center;
	background-size: 14px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: -moz-hidden-unscrollable;
}

.username:hover
{
	color: #fff;
	background-color: #2b86e3;
	cursor: pointer;
}

.logins
{
	background-color: #eee;
	font-size: 11px;
	text-align: center;
	font-weight: 400;
	padding: 8px;
	border-radius: 0 0 3.5px 3.5px;
	border-top: 1px solid #d0d0d0;
}

#lock {
	position: absolute;
	width: 42px;
	height: 23px;
	top: 52px;
	left: 45px;
}

.hidden {
	display: none;
}

#popup {
	position: absolute;
	width: 330px;
	height: 294px;
	top: 20px;
	left: -12px;
}

#popup-warning {
	width: 330px;
	height: 284px;
	position: absolute;
	-moz-appearance: none;
	background-image: url('./insecure-warning-full.png');
	background-size: 620px 284px;
	background-repeat: no-repeat;
	border-radius: 3.5px;
	box-shadow: 0 0 0 1px hsla(210,4%,10%,.2);
	top: 10px;
	transition: background-position .2s ease-in;
}

#triangle {
	height: 10px;
	position: absolute;
	z-index: 20;
}

#dropshadow {
	width: 37px;
	height: 284px;
	right: 0;
	position: absolute;
	background-repeat: no-repeat;
	background-size: 37px 284px;
	opacity: 0;
	background-image: url('./dropshadow.png');
	transition: right .2s ease-in, opacity .2s ease-in;
}

#click-shift {
	position: absolute;
	right: 0;
	height: 91px;
	width: 37px;
}

#click-shift:hover {
	background-color: rgba(24, 25, 26, 0.07);
}

#popup-warning.shift-left {
	background-position-x: -291px;
}

#popup-warning.shift-left #dropshadow, #popup-warning.shift-left #click-shift {
	right: 293px;
	opacity: 1;
}

/*border-top: 1px solid var(--panel-separator-color)*/
